
@media (max-width: 1200px) {
 .pink-right-panel ul li{
        width: 49% !important;
        margin-bottom: 25px !important;
    }
}


@media (max-width: 1000px) {
    .spoiler-square, .spoiler-square-2{
        display: none !important;
    }
    
}


@media (max-width: 810px) {
    .m-toptel {
        margin: 10px 25px auto;
        float: none;
    }
    /*
    .slider-size{
        width: 80% !important;
    }*/
    
    .swiper-button-next, .swiper-button-prev{
            top: 60% !important;
            width: 20px !important;
            height: 20px !important;
    }
    
    .swiper-container {
            width: 75% !important;
    }
    
    
    .swiper-border{
        position: absolute;
        top: 5%;
        left: 15% !important;
        border:3px solid #DB4D7D;
        width: 74% !important;
        height: 90%;
    }
    
    .pink-right-panel ul li{
        width: 89% !important;
        margin-bottom: 25px !important;
    }
    
}

 @media (max-width: 450px) {
     .swiper-container {
             width: 100% !important;
    }
     
    .swiper-border{
        display: none !important;
    }
     
    
    .col-custom{
        width: 100% !important;
    }
}
