/* SWIPER STYLING */     
        .swiper-container {
                width: 50%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                margin-bottom: 50px; 
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
                
            .swiper-slide img{
                width: 100%;
                height: 100%;
            }
            
            .swiper-button-next, .swiper-button-prev{
                width: 40px;
                height: 40px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                background: rgba(0,0,0,0);
                  
            }
            .swiper-button-prev{
                border-left: 3px solid #E95386;
                border-bottom: 3px solid #E95386;  
                left: 40px;
            }
            .swiper-button-next{
                border-right: 3px solid #E95386;
                border-top: 3px solid #E95386;
                right: 20px;
            }
            .swiper-slide-prev, .swiper-slide-next{
                opacity: 0.3;
            }
            .swiper-slide-prev img, .swiper-slide-next img{
                transform: scaleY(0.9);
            }
            
            .swiper-slide-active img{
                transition: 0.35s ease-out;
            }
                
            .swiper-slide-prev{
                z-index: 4;  
            }
            .swiper-slide-active{
                z-index: 5;
            }
            .swiper-slide-next{
                z-index: 4;  
            }
            
/* END SWIPER */     