/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix-1:before,
.clearfix-1:after {
	display: table;
	content: " ";
}
.clearfix-1:after {
	clear: both;
}
.footer-menu>a{
    float: left;
    margin-right: 114px;
}
.trepet a{
    color: #fff;
}
.trepet-dark a{
    color: #383838 !important;
}
.under-footer a{
    color: #fff !important;
}
.slider__item__discount a{
    font-size: 16px;
    line-height: 20px;
}

.price .price-new{
    font-size: 16px;
}

.product__more{
    margin-bottom: 40px;
    visibility: hidden;
}

.product__more__info{
    border: 2px #fff solid;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}

.margin-top{
    margin-top: 100px !important;
}

.product-layout{
    margin-bottom: 50px;
}

.product-thumb{
    overflow: hidden;
}
.product-thumb, .product-thumb p, .product-thumb h4, .product-thumb a{
    color: #fff !important;
}

.caption-gradient{
    font-size: 15px;
    height: inherit;
    padding-top: 170px !important;
    background: linear-gradient(to top, rgba(219,77,125,1) 0%, rgba(219,77,125,1) 20%, rgba(255,255,255,.1) 40%);
    /*background: linear-gradient(to top, rgba(219,77,125,1) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,.1) 80%, rgba(219,77,125,1) 100%);*/
}

.caption-gradient h4{
    text-transform: uppercase;
    font-weight: normal;
    line-height: 25px;
}

.caption-gradient:hover{
    background: rgba(0,0,0,0.6);
    padding-top: 140px !important;
}

.caption-gradient:hover .product__more{
    visibility: visible;
}

.button-back{
    margin-top: 13px;
}

.button-back button{
    border: none !important;
}

.button-back button{
    background: none !important;
}

.product-thumb .button-group{
    background: none !important;
    border: none !important;
}

.product-thumb .button-group button + button{
    border: none !important;
}

.product-thumb{
    height: 300px;
}

.pink-right-panel ul li{
    width: 19% !important;
}

.text-decoration-underline:after{
    position: absolute;
    bottom: -4px;
    left: 0 !important;
    width: 100% !important;
    background: #fff;
    display: inline-block;
    height: 2px;
    content: '';
}

.cursor-p{
    cursor: pointer;
}

.desc-main{
    line-height: 20px;
}
.desc-title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.desc-row{
    margin: 25px;
    font-size: 18px;
}
.list-first-1{
    margin-right: 25px;
}
.list-first-2{
    margin-right: 18px;
}
.list-first-3{
    margin-right: 47px;
}
.desc-quantity{
    margin-bottom: 45px;
    margin-right: 46px;
    float: left;
}
.list-first-1, .list-first-2, .list-first-3, .desc-quantity{
    font-weight: 600;
}
.desc-input{
    margin-bottom: 45px;
    width: 50px;
    float: left;
    margin-top: -5px;
}
#added-basket, .added-basket{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    display: none;
}

.form-edit-h1{
    margin-top: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.row-edit{
    text-align: center;
}

.row-edit input{
    width: 300px;
    margin: 20px auto 60px;
    
    font-size: 18px !important;
    height: 50px;
    border: 1px solid #000;
}
.row-edit input:focus, .row-edit textarea:focus {
    border: 1px solid #DB4D7D;
    box-shadow: 0px 0px 1px 1px #DB4D7D;
}

.control-label:before{
    display: none;
}

.row-edit label{
    font-size: 20px;
}
.panel-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.accordion-toggle{
    font-size: 18px;
}
.panel-body{
    text-align: center;
}
.panel-body p, .panel-body div{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.panel-body textarea{
    margin: 25px auto;
    
    height: 150px;
    border: 1px solid #000;
}
.panel-body textarea:focus {
    border: 1px solid #DB4D7D;
    box-shadow: 0px 0px 1px 1px #DB4D7D;
}

#input-payment-telephone, #input-payment-address-1{
    margin-bottom: 0;
}

.alert-success{
    display: none !important
}

#cart {
    margin-bottom: 0 !important;
}

#content{
    min-height: 300px;
}

.md-content{
    text-align: center !important;
}

.margin-padding{
    margin-top: 50px;
    padding: 25px;
    text-align: center;
}

.margin-padding p{
    margin-bottom: 55px;
    font-size: 16px;
}
.margin-padding h1{
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: bold;
}

#client-tel-for-consult{
  margin: 25px auto;
}

.invisible-check>input{
  visibility: hidden;
}

.invisible-check>label{
    visibility: hidden;
}

.btn {
  border-radius: 18px;
  transition: all .1s linear;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  letter-spacing: .6px;
  padding: 10px;
  width: 150px;
  vertical-align: middle;
  text-align: center;
  margin:5px 0;
}
.btn-primary {
    color:#3F3F3F;
    background: #fff;
    border:1px solid #3F3F3F;
}
.btn:hover {
    background-color: #E25082 !important;
    color:#fff !important;
    border:1px solid #E25082;
}
.btn:hover {
  background-color: #fff;
  color:#E25082;
}

.consult-btn {
    box-sizing: content-box;
    color: #000;
}

.catalog-footer{
    width: 78%;
    height: 200px;
    
    margin-left: 11%;
    padding-top: 50px;
    
    border-top: 1px solid #000;
}

.catalog-footer-left, .catalog-footer-center, .catalog-footer-right{
}

.catalog-footer-left{
    text-align: left;
}

.catalog-footer-center{
    text-align: center;
}

.catalog-footer-right{
    text-align: right;
}

.container, .container-con{
    width: 90% !important;
    max-width: 1030px !important;
}

.modal-border{
    border: 2px solid #E25082;
    border-radius: 10px;
    overflow: hidden;
}



.logo-pink{
    background: url(../img/logo-pink.png) center center no-repeat;
    background-size: 100%;
}

.logo-footer{
    height: 90px;
    width: 90px;
}

.logo-footer-dark{
    background: url(../img/logo-kapriz-dark.png) center center no-repeat;
    background-size: 100%;
}


.m-logo-top-dark{
    background: url(../img/logo-pink.png) center center no-repeat;
    background-size: 100%;
}

.button-width-imp{
    width: 150px !important;
}

.cart-width{
    width: 150px;
}

.slider-padding{
    padding-top: 40px;
    color: #FFF;
    font-size: 16px;
}

.slider-padding h3{
    font-weight: 900;
}

.slider-padding h4{
    font-size: 16px;
    line-height: 26px;
}

.slider-padding a{
    color: #FFF;
}

.slider-size{
    width: 100%;
}

.pagination>li>a, .pagination>li>span {
    color: #E95386 !important;
    background-color: #fff !important;
    border-radius: 50% !important;
    border-color: #E95386 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.pagination>li>a:hover {
    color: #fff!important;
    background-color: #E95386 !important;
    border-radius: 50% !important;
    border-color: #E95386 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff !important;
    background-color: #E95386 !important;
    border-color: #E95386 !important;
    
}

.button-width{
     width: 75px;
}

.button-custom{
	background: #fff !important;
	border: 0px solid #fff !important;	
}

.button-custom button{
	background: #fff !important;
	border: 0px solid #fff !important;	
}

.button-custom .fa-shopping-cart{
	color: #E95386 !important;
}

button#list-view, button#grid-view{
    visibility: hidden;
}

.text-align-product{
	text-align:center !important;
}

.bask-price{
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}
.bask-quantity{
    margin-top: 20px;
    height: 30px;
}
.bask-quantity p, .bask-quantity input, .bask-quantity button{
    float: left;
}
.bask-quantity button{
    margin-top: 7px;
    margin-left: 10px;
}
.bask-quantity p{
    margin-right: 10px;
    margin-top: 10px;
}
.bask-total{
    margin-top: 50px;
    width: 100%;
    color: #dd4a94;
    font-size: 22px;
}

.bask-total span{
    float: left;
    margin: 0px 0px 5px 0px;
}
.bask-total .price{
    float: left;
    margin: 0px 5px 5px 5px;
}

.price-basket, .option{
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: .6px;
    padding: 8px;
    
    color:#3F3F3F !important;
    background: #fff !important;
    border: 0.5px solid #3F3F3F !important;
    
    transition: all .1s linear;
} 

.price-basket-main{
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: .6px;
    padding: 8px;
    
    color:#FFF !important;
    background: inherit !important;
    border: 0.5px solid #FFF !important;
    
    transition: all .1s linear;
}

.swiper-border{
    position: absolute;
    top: 5%;
    left: 27%;
    border:3px solid #DB4D7D;
    width: 49%;
    height: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-border:before {
    content: '';
    position: absolute;
    width: 160px;
    height: 50px;
    right: -20px;
    top: -20px;
    border-top: 2px solid #131313;
    border-right: 2px solid #131313;
}



/* ~~~~ end of changes in style.css ~~~~  */

.input-group .form-control-custom[name^=quantity] {
	min-width: 50px;
}

.price-basket a, .option a{ 
    color: rgba(0,0,0,1);
    text-decoration: none;
}

.price-basket:hover{
    background: #E25082 !important;
    color: #fff !important;
    border: 1px solid #E25082 !important;
}

.price-basket-main:hover{
    background: #fff !important;
    color: #E25082 !important;
    border: 1px solid #E25082 !important;
}

.main-section{
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    width: 926px;
    
}

.panel, .panel-footer{
    border: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.panel-heading, .panel-footer{
    background: #FFF !important;
}

.panel-heading:hover, .panel-footer:hover{
    background: #FFF !important;
}

#scale-slider{
    height: 1px !important;   
}

.ui-slider-range{
    height: 1px !important;
    background: #E25082 !important;
}

.ui-slider-handle{
    height: 7px  !important;
    width: 7px  !important;
    margin: 1.5px 0 0 0 !important;
    border-radius: 100% !important;
    background: #E25082 !important;
    cursor: pointer !important;
}

.ui-state-hover, .ui-state-focus, .ui-state-active{
    background: #E25082 !important;
    border-color: #E25082 !important;
}

.ui-slider-label{
    font-size: 10px !important;
}

.ui-slider-pip{
    display: none;
}

.ui-slider-tip{
    visibility: visible !important;
    border: 0px solid #fff !important;
    top: 10px !important;
    cursor: pointer;
}

.ui-slider-tip:after{
    background: #fff !important;
}

.filters{
    display: inline-block;
    vertical-align: top;
    
    width: 34%;
    
    font-weight: 700;
    
    color: rgba(0,0,0,0.6);
}

.filter{
    width: 295px;
    
    display: inline-block;
}

.filter-text{    
    width: 230px;
    
    margin-left: 40px;
    
    display: inline-block;
}

.filter-but{
    width: 20px;
    height: 20px;
    
    background: url(../img/filter-but.png) center center no-repeat;
    background-size: cover;
    
    display: inline-block;
    
    transition: 0.2s linear;
    cursor: pointer;
}

.spoiler-square, .spoiler-square-2, .spoiler-square-3, .spoiler-square-4{
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-left:2px solid #838383;
    border-top:2px solid #838383;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.5s linear;
}

.spoiler-square{
    right: 25px;
    top: 8px;
}

.spoiler-square-2{
    right: 25px;
    top: 38px;
}

.spoiler-square-3{
    right: 10px;
    top: 8px;
}

.spoiler-square-4{
    right: 10px;
    top: 8px;
}

.spoiler-square-animation, .spoiler-square-animation-2, .spoiler-square-animation-3, .spoiler-square-animation-4{
    -webkit-transform: rotate(225deg); 
    -moz-transform: rotate(225deg); 
    -ms-transform: rotate(225deg); 
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.spoiler-cursor{
    cursor: pointer;
}

.spoiler{
    width: 260px;
    
    margin-left: 40px;
}

.spoiler-block{
    display: inline-block;
    
    border: 1px solid rgba(203,84,131,1);
    border-radius: 25px;
    color: rgba(203,84,131,1);
    
    font-weight: 500 !important;
    text-align: center;
    
    cursor: pointer;
    
    transition: 0.5s linear;
    margin: 2px;
    padding: 5px!important;
    font-size: 15px;
    overflow: hidden;
}

.list-group-item{
    border: 0px solid #FFF;
}

.padding-zero{
    letter-spacing: .7px;
    font-size: 15px;
    
    color:#838383 !important;
}

.filter-name{
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

label.checking{
    margin: 0 !important;
    padding: 0 !Important;
}

.spoilers{
    width: 100% !important;
}

div.checkbox{
    min-width: 1px !important;
    display: inline-block !important;
}

.margin-top {
    margin-top: 50px;
}

.padding-zero{
    padding: 5px 0 5px 0 !important;
    margin: 0 !important;
}

.checking input{
   width: 0px;
}

.checking-head{
    border-bottom: 1px solid #ddd;
    min-width: 100% !important;
}

input:checked + span{
   background: rgba(203,84,131,1) !important;
    color: #FFF !important;
}

.spoiler-block:hover{
    background: rgba(203,84,131,1);
    
    color: rgba(255,255,255,1);
}

.shopping-cart, .heart{
    display: none;
    height: 20px;
    width: 20px;
}
.shopping-cart{
    background: url(../img/in__basket.png) center center no-repeat;
    background-size: cover;
}
.heart{
    background: url(../img/in_like.png) center center no-repeat;
    background-size: cover;
}
.product-thumb-border{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    border: 1px solid #fff;
}

.product-thumb-border:hover{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    border: 1px solid #ddd;
}

.product-thumb-border:hover .shopping-cart{
    display: block;
}

.product-thumb-border:hover .heart{
    visibility: visible;
}

.product-line{
    width: 80%;
    height: 2px;
    
    background: #ddd;
    
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 10%;
}


.catalog_more{
    position: fixed;
    top: 450px;
    left: 5%;
    width: 90%;
    height: auto;
    background: #fff;
    z-index: 11;
    visibility: hidden;
}
.catalog_prod{
    float: left;
    height: 550px;
    width: 350px;
}
.catalog_close{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 30px;
    background: url(../img/slider-cat-close.png) no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 10;
}
.prod_image{
    float: left;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 420px;
    width: 280px;
    margin-right: 75px;
}
.prod_image img{
    height: 420px;
    width: 280px;
}

.prod_desc{
    float: left;
    margin-top: 80px;
    height: 420px;
    text-align: left;
}
.prod_stock{
    margin-top: 35px;
    margin-bottom: 35px;
}
.prod_stock img{
    height: 15px;
    width: auto;
    margin-right: 15px;
}
.prod_stock p{
    margin-top: 20px;
    color: #838383;
}

.prod_image_mob{
    display: none;
}
.prod_image_mob img{
    height: 150px;
    width: auto;
}

.prod_desc h1{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.prod_desc h2{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 26px;
    font-weight: bold;
}

.button-cat{
    margin-top: 65px;
}
.button-cat button{
    padding: 10px 35px;
    color: #CB5483;
    font-size: 15px;
    
    background: #fff;
    border-radius: 25px;
    border: 1px solid #CB5483;
    transition: .1s linear;
}
.button-cat:hover button{
    color: #fff;
    background: #CB5483;
}

.button-bas{
    margin-top: 15px;
}
.button-bas button{
    padding: 10px 45px;
    color: #CB5483;
    font-size: 15px;
    
    background: #fff;
    border-radius: 25px;
    border: 1px solid #CB5483;
    transition: .1s linear;
}
.button-bas:hover button{
    color: #fff;
    background: #CB5483;
}

.cat-pagination{
    text-align: center;
}
.cat-results{
    text-align: center;
    margin-top: 25px;
    color: #bcbcbc;
}


.content-holder ul>li>a:before{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    background: #838383;
    display: inline-block;
    height: 2px;
    content: '';
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.content-holder ul>li>a:hover:before {
    left: 0%;
    width: 100%;
}

.nav-fd-before li>a:before{
    background: #fff!important;
    bottom: 5px!important;
}
.nav-fd-before li>a:hover:before{
    left: 5%!important;
    width: 90%!important;
}

.active-menu:before{
    position: absolute;
    bottom: 0;
    left: 0!important;
    width: 100%!important;
    background: #3f3f3f;
    display: inline-block;
    height: 0;
    content: '';
}

.slick-dots{
    display: none!important;
}