.wrapper{
    box-sizing: border-box;
    margin: 25px 20px;
    width: auto;
    background: #E95386;
}

.logo-white{
    background: url(../img/logo.svg) center center no-repeat;
    background-size: 100%;
}

.adress-white{
    color: #FFF;
}

.nav-fd-white a{
    color: #FFF !important;
}

.nav-fd-white>ul>li>ul>li>a:hover{
    color: #E95386 !important;
}

.dropdown-arrow:after {
  border-left: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;

}

.content-holder .nav-fd-white {
      border-top:1px solid #fff !important;
}
